doctype
html
    head
        link(href='/style.css', rel='stylesheet')
        script(src="/socket.io/socket.io.js")
        script(src="https://code.jquery.com/jquery-2.2.0.min.js")
        title
    body
        h1= name
        div#allMessages
            each val in messages
                div
                    p.sender= val.sender + " says:"
                    p.messagebody= val.message

        form(id="sendform" name="add-estimation", method="post", action = "/chatroom/" + _id)
            input(type="text", name="newMessage", id="newMessage")
            input(type="text", name="messageSender", id="messageSender")
            p#chatId=_id
        p#send blackbird singing in the dead of night
            //input(type="submit", value="Send")

        script.
            var socket = io.connect('http://localhost:8080');
            $('#send').on('click', function (event) {
                console.log("nq");
                event.preventDefault();
                socket.emit('data', {
                    newMessage: $('#newMessage').val(),
                    messageSender: $('#messageSender').val(),
                    idid: $('#chatId')
                });
            });
            socket.on('callback', function (data) {
                console.log(data.done);
                // Print the data.data somewhere...
            });
//         socket.on('news', function (data) {
//            console.log(data);
//            socket.emit('my other event', {my: 'data'});
//         });
