doctype
html
    head
        script(src="/socket.io/socket.io.js")
        link(href='/style.css', rel='stylesheet')
      title
   body
        h1 Pick a chatroom!
        div#allChatrooms
            each chats in chatz
                a.chatzz(href= '/chatroom/' + chats._id)= chats.name
            form(id="createChatroom" name="add-estimation", method="post", action = "/chatroom")
                label create a new chatroom
                    input(type="text", name="newChatroomName")


    script.
        var socket = io.connect('http://localhost:8080');
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
            });