* {
    margin: 0;
    padding: 0;
}

body {
    background: #D6FFB5;
    font-family: Arial;
}

.chatzz {
    color: black;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.messagebody {
padding-bottom: 10px;
}

.sender {
font-size: 10px;
}

#allChatrooms, #allMessages{
    margin-left: 50px;
}

#allMessages {
    height: 400px;
    width: 300px;
    overflow: auto;
    padding: 20px;
    background: white;
}

#allChatrooms

#sendform {
    padding-left: 50px;
    padding-top: 10px;
}

#sendform input {
    width: 250px;
}

h1 {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

#createChatroom {
    padding-top: 20px;
}